<ol>
  <% parent.attrDefChilds.each do |child| %>
    <li>
      <label><%= child.label %> :</label>
      <%=
      case child.dataType
        when "String"
          f.text_field attrDefSimple.id
        when "aChoice"
          if entity.attr_vals.find_by_attr_def_name(child.attr_def_name) != nil
            check = true
          end
          f.radio_button parent.attr_def_name, child.attr_def_name,  :checked => check
        else
          'not yet implemented'
      end
      %>
    </li>
  <%end-%>
</ol>