<h1>Welcome in databaseFormalizer</h1>
<hr>
<h2>How to install me on your project:</h2>
<br>
<h4>rails _3.0.5_ new FRM</h4>
<br/>
<h4>cd FRM</h4>
<br/>
<h4>edit Gemfile, add: <u>gem 'databaseformalizer', :path => "../databaseformalizer"</u></h4>
<br/>
<h4>bundle install</h4>
<br/>
<h4>rails generate databaseformalizer</h4>
<br/>
<h4>rake db:migrate</h4>
<br/>
<h4>rails s</h4>
<br/>
<h4>Go to <a href="http://localhost:3000/databaseformalizer">http://localhost:3000/databaseformalizer</a></h4>