<div id="metaModelPicture"></div>
<h1>Editing entity_def</h1>

<%= render('form', :type => "update") %>

<%= link_to 'Show', @entity_def %> |
<%= link_to 'Back', databaseformalizer_entity_defs_path %>
